*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* margin: 10px; */
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  /* position: relative; */
}

.box{
  padding:2rem;
  margin:0.6rem;
  border-radius: 10px;
}

.box1 {
   /* position: absolute; */
  background-color: brown;  

  /* left: 20px;
  top: 20px; */

  /* box-shadow:10px 10px 10px black; */
  box-shadow:-10px -10px 15px black;
  

}

.box2 {
  /* position: absolute; */
  background-color: rebeccapurple;
  /* left: 40px;
  top: 40px;   */
  box-shadow:-10px -10px 15px black;
}

.box3 {
  /* position: absolute; */
  background-color: red; 
  /* left: 80px;
  top: 80px;   */
  box-shadow:-10px -10px 15px black;
}

.box4 {
  /* position: absolute; */
  background-color: yellow; 
  /* left: 60px;
  top: 60px;   */
  box-shadow:-10px -10px 15px black;
}

.box5 {
  /* position: absolute; */
  background-color: pink;  
  box-shadow:-10px -10px 15px black;

  /* left: 100px;
  top: 100px; 
  z-index: -1; */
}